<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>home</title>
    </head>
    <body>
        <body>
            <h1>スージー＆ニック</h1>
            <header>
                <form action="" method="get">
                    <input type="search" name="search" placeholder="検索キーワードを入力してください">
                    <input type="submit" name="submit" value="検索">
                </form>
                <div>
                    <a href="home.html">ホームページ</a>
                    <a href="">記事一覧</a>
                    <a href="menu_leg.html">脚</a>
                    <a href="menu_abs.html">腹部</a>
                    <a href="menu_chest.html">胸部</a>
                    <a href="menu_back.html">背中</a>
                    <a href="menu_arm.html">腕</a>
                </div>
                <div>
                    <button onclick="">ログイン</button>
                    <button onclick="">ログアウト</button>
                </div>
        </header>

        <div>
            <h2>サプリ・プロテイン紹介</h2>
        </div>

        <div>
            <h2>新着記事</h2>
        </div>

        </body>
    </body>
</html>