<!DOCTYPE html>
<html lang="ja">
    {% extends "muscle_app/base.html" %}
    {% load static %}

    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'muscle_app/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'muscle_app/header.css' %}">
    {% endblock %}

    {% block title_block %}
        abs
    {% endblock %}

    {% block body_block %}
        <h1>Abs</h1>
        {% for article in category_list%}
        <form  method="get">
            {{article.title}} 
            {{article.user_name}}
            {{article.category}}
            <input type="hidden" value="{{article.id}}"> 
            {% comment %} <button type="button">編集する</button><br> {% endcomment %}
            <button type="button" onclick=location.href="{% url 'muscle_app:mark_detail' id=article.id %}">詳細画面</button>
            <button type="button" onclick=location.href="{% url 'muscle_app:mark_delete' id=article.id %}">削除画面</button><br>
        <form>
        {% endfor %}
    {% endblock %}
</html>