<!DOCTYPE html>
<html lang="ja">
    {% extends "muscle_app/base1.html" %}
    {% load static %}

    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'muscle_app/header.css' %}">
    {% endblock %}

    {% block title_block %}
        ユーザー情報の変更
    {% endblock %}

    {% block body_block %}
    <div class="ui grid stackable">
        <div class="eleven wide column">
            <div class="ui breadcrumb">
                <div class="active section">ユーザー情報の変更</div>
            </div>
            <div class="ui segment">
                <div class="content">
                    <div class="header"><h3>ユーザー情報の変更</h3></div>
                    <form class="ui form" action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="ui orange button" type="submit">確認</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</html>