{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_head %}
        <!-- この中にCSSなどを指定。 -->
        {% endblock %}
        <title>
            {% block title_block %}
            <!-- この中は継承先で定義 -->
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>スージー＆ニック</h1>
                <form action="" method="get">
                    <input type="search" name="search" placeholder="検索キーワードを入力してください">
                    <input type="submit" name="submit" value="検索">
                </form>
                <div class="menu_bar">
                    <nav>
                        <ul>
                            <li><a href="{% url 'muscle_app:home' %}">ホーム</a></li>
                            <li><a href="">記事一覧</a></li>
                            <li><a href="{% url 'muscle_app:leg' %}">脚</a></li>
                            <li><a href="{% url 'muscle_app:abs' %}">腹部</a></li>
                            <li><a href="{% url 'muscle_app:chest' %}">胸部</a></li>
                            <li><a href="{% url 'muscle_app:back' %}">背中</a></li>
                            <li><a href="{% url 'muscle_app:arm' %}">腕</a></li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <button onclick="">ログイン</button>
                    <button onclick="">ログアウト</button>
                </div>
            </header>
            {% block body_block %}
            <!-- この中は継承先で定義 -->
            {% endblock %}
        </div>
    </body>
</html>