{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- この中にCSSなどを指定。 -->
        {% block extra_head %}
        {% endblock %}
        <title>
            <!-- この中は継承先で定義 -->
            {% block title_block %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="wrapper">
            <header>
        
                <div class="top_wrapper">
                    <div class="top_left_wrapper">
                        <div class="logo">
                            <!-- <h1>スージー＆ニック</h1> -->
                            <a class="logo" href="{% url 'muscle_app:index' %}"><img src="static/img/susie_nick.png" alt="ロゴ画像"></a>
                        </div>
                    </div>
                    <div class="serch">
                        <form action="" method="get">
                            <input type="search" name="search" placeholder="検索キーワードを入力してください">
                            <input type="submit" name="submit" value="検索">
                        </form>
                    </div>

                    <div class="login">
                        {% if user.is_authenticated %}
                            <p>{{ user.get_username }}でログイン中</p>
                            <button onclick=location.href="{% url 'muscle_app:mypage' %}">マイページ</button>
                            <button onclick=location.href="{% url 'muscle_app:logout' %}">ログアウトする</button>
                        {% else %}
                        <p>ログインしていません</p>
                        <button onclick=location.href="{% url 'muscle_app:login' %}">ログイン</button>
                        <button onclick=location.href="{% url 'muscle_app:sign_up' %}">新規登録</button>
                        {% endif %}
                        <!-- {}の最初と最後に%を付けると有効になる。 -->
                        <!-- <button onclick="">ログイン</button> -->
                        <!-- <button onclick="">ログアウト</button> -->
                    </div>
                </div>
        
                <div id="globalnavi">
                  <ul class="dropmenu">
                    <li><a href="{% url 'muscle_app:index' %}"><h2>Top</h2></a></li>
                    <li class="men"><a href=""><h2>Training</h2></a>
                      <ul>
                        <li><a href="{% url 'muscle_app:mark_list' %}">All</a></li>
                        <li><a href="{% url 'muscle_app:leg' %}">Leg</a></li>
                        <li><a href="{% url 'muscle_app:abs' %}">Abs</a></li>
                        <li><a href="{% url 'muscle_app:chest' %}">Chest</a></li>
                        <li><a href="{% url 'muscle_app:back' %}">Back</a></li>
                        <li><a href="{% url 'muscle_app:arm' %}">Arm</a></li>
                      </ul>
                    </li>
        
                
              </header>
            {% block body_block %}
            <!-- この中は継承先で定義 -->
            {% endblock %}
        </div>
    </body>
</html>