{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- この中にCSSなどを指定。 -->
        {% block extra_head %}
        {% endblock %}
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <div class="top_wrapper">
                    <div class="top_left_wrapper">
                        <div class="logo">
                            <h1>スージー＆ニック</h1>
                        </div>
                    </div>
                    <div class="top_right_wrapper">
                        <form action="" method="get">
                            <input type="search" name="search" placeholder="検索キーワードを入力してください">
                            <input type="submit" name="submit" value="検索">
                        </form>
                        <div class="login">
                            {% if user.is_authenticated %}
                                <p>{{ user.get_username }}でログイン中</p>
                                <button onclick=location.href="{% url 'muscle_app:mypage' %}">マイページ</button>
                                <button onclick=location.href="{% url 'muscle_app:logout' %}">ログアウトする</button>
                            {% else %}
                            <p>ログインしていません</p>
                            <button onclick=location.href="{% url 'muscle_app:login' %}">ログイン</button>
                            <button onclick=location.href="{% url 'muscle_app:sign_up' %}">新規登録</button>
                            {% endif %}
                            <!-- {}の最初と最後に%を付けると有効になる。 -->
                            <!-- <button onclick="">ログイン</button> -->
                            <!-- <button onclick="">ログアウト</button> -->
                        </div>
                    </div>
                </div>
                <div class="menu_bar">
                    <nav>
                        <ul>
                            <li><a href="{% url 'muscle_app:home' %}">ホーム</a></li>
                            <li><a href="{% url 'muscle_app:mark_list' %}">記事一覧</a></li>
                            <li><a href="{% url 'muscle_app:leg' %}">脚</a></li>
                            <li><a href="{% url 'muscle_app:abs' %}">腹部</a></li>
                            <li><a href="{% url 'muscle_app:chest' %}">胸部</a></li>
                            <li><a href="{% url 'muscle_app:back' %}">背中</a></li>
                            <li><a href="{% url 'muscle_app:arm' %}">腕</a></li>
                        
                        </ul>
                    </nav>
                </div>
            </header>
            {% block body_block %}
            <!-- この中は継承先で定義 -->
            {% endblock %}
        </div>
    </body>
</html>