<!DOCTYPE html>
<html lang="ja">
    {% extends "muscle_app/base.html" %}
    {% load static %}

    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'muscle_app/index.css' %}">
    {% endblock %}

    {% block title_block %}
        home
    {% endblock %}

    {% block body_block %}
    <div class="photo">
        <img src="/static/img/0cf90bde040ee65d491c039c338c17fd-1024x683.jpg" alt="トップ画像">
    </div>
        <div class="product">
            
            <h2 class="protein_title">Protein</h2>
                <span class="headline">プロテインのについて</span>
                <div class="text">
                <h2 class="title">プロテイン（プロテインパウダー）とは？</h2>
                <p>プロテインは日本語で「たんぱく質」という意味です</p>
                <p>大豆や牛乳、卵などの原料からたんぱく質を抽出し、粉末状に加工したもので、不足しているたんぱく質を補う「栄養補助食品」です</p>
                <p>たんぱく質は三大栄養素（たんぱく質、脂質、糖質）の内の一つで筋肉や臓器など体を構成する要素として非常に重要なものです。</p>
                <p>たんぱく質は20種類のアミノ酸から構成されおり、アミノ酸の組み合わせや種類、量などの違いによって形状や働きが異なっていき、酵素やホルモン、免疫物質としてさまざまな機能を担っています。</p>

                <h2 class="title">プロテインの種類</h2>
                <p>プロテインを大きく分けると動物性由来と植物性由来の2種類があります</p>
                <div class="category">
                    <div class="whey">
                        <p>動物性</p>
                        <p>牛乳を原料に作られており、消化、吸収速度が速く、免疫力の向上、食欲を抑えられるなどの特徴があります</p>
                    </div>
                    <div class="soy"> 
                        <p>植物性</p>
                        <p>植物性のプロテイン：ソイプロテイン</p>
                        <p>大豆を原料に作られており、吸収速度がゆっくり、イソフラボンが入っており女性ホルモンに近い作用がある、腹持ちが良いなどの特徴があります</p>
                    </div>
                </div>


                <h2 class="title">健康維持に必要なたんぱく質の量は?</h2>
                <p>1日に必要なたんぱく質の摂取量は</p>
                <p>運動をしていない人の場合</p>
                <p>「体重×1g」</p>
                <p>運動、筋トレをしている人の場合</p>
                <p>「体重×2g」が目安といわれています</p>
                <p>70kgの運動をしている人の場合だと1日あたり</p>
                <p>70(kg) × 2(g) = 約140(g)のたんぱく質が必要ということになります</p>

                <h2 class="title">たんぱく質が不足すると？</h2>

                <h3>筋力が低下する</h3>
                <p>タンパク質の多くは、筋肉に蓄えられています。体づくりに必要なタンパク質が不足すると、筋肉内のタンパク質から消費されていきます。エネルギー源が筋肉になるため、結果的に筋肉量や筋力の低下につながります。</p>

                <h3>太りやすくなる</h3>
                <p>筋肉量が低下すると基礎代謝が低下します。</p>
                <p>基礎代謝とは、体温維持や心臓を動かすなど生命維持活動のために消費するエネルギーのことで、基礎代謝全体の約2割は格骨筋が占めています</p>
                <p>つまり、筋肉を鍛えることで、身体を筋肉を保持しようと一定のカロリーを使うので筋肉を増やせば増やすほど太りにくい身体になっていきます。</p>

                <h3>肌や髪の若々しさが失われる</h3>
                <p>肌に弾力を与える役割をもつコラーゲンは、タンパク質からつくられます。タンパク質が不足すると、コラーゲンの生成が減り、肌のハリやツヤが失われます。</p>
                <p>髪の毛は、ケラチンというタンパク質からつくられます。タンパク質不足は、枝毛・切れ毛・うねり・艶がないなどの髪のトラブルを引き起こします。</p>

                <h3>疲れやすく集中しづらい</h3>
                <p>神経伝達物質のドーパミン、セロトニンは、脳内でタンパク質を原料につくられます。</p>
                <p>ドーパミンは意欲や学習能力をつかさどり、セロトニンは精神を安定させる役割があります。不足すると、これらの神経伝達物質が生成できなくなり、脳の働きが鈍くなります。</p>
                <p>その結果、心が不安定になり、集中力や思考力が低下します。具体的には疲れやすい、集中できない、無意識のうちにぼんやりしている、やる気が出ない、イライラするなどの症状が起こりやすくなります。</p>

                <h3>体調を崩しやすくなる</h3>
                <p>タンパク質を原料とする免疫細胞をつくれなくなり、粘膜や皮膚の働きを弱めるため、免疫力低下に直結します。</p>

                <h2 class="title">まとめ</h2>

                <p>プロテインはあくまで「たんぱく質を摂取するための栄養補助食品」なので、普段の食事から十分な量のたんぱく質がとれるのであれば飲まなくても大丈夫です</p>
                <p>肉や魚でたんぱく質を取ろうとすると、脂肪なども含まれるので、たんぱく質だけを簡単に取りたい時にはプロテインを飲むことをおすすめします</p>
                <p>プロテイン（プロテインパウダー）を飲むだけで筋肉がごりごりついていくことはありません</p>
                <p>健康的な体を作るのにもたんぱく質は必要不可欠なものなので積極的に摂っていきましょう</p>
            </div>
                
                
            <div class="supplement">

            </div>
        </div>

        <div class="new_article">
            <h2></h2>
        </div>
    {% endblock %}
</html>