<!DOCTYPE html>
<html lang="ja">
    {% extends "muscle_app/base.html" %}
    {% load static %}

    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'muscle_app/index.css' %}">
    {% endblock %}

    {% block title_block %}
        home
    {% endblock %}

    {% block body_block %}
    <div class="photo">
        <img src="/static/img/0cf90bde040ee65d491c039c338c17fd-1024x683.jpg" alt="トップ画像">
    </div>
        <div class="product">
            <h2 class="protein_title">Protein</h2>
                <span class="protein">プロテインのについて</span>
            <div class="supplement">

            </div>
        </div>

        <div class="new_article">
            <h2></h2>
        </div>
    {% endblock %}
</html>