{% extends "muscle_app/base1.html" %}
{%load static%}
{% load widget_tweaks %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'muscle_app/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'muscle_app/header.css' %}">
<link rel="stylesheet" href="{% static 'muscle_app/login.css' %}">
<link rel="stylesheet" href="{% static 'muscle_app/mark_view.css' %}">
{% endblock %}

{% block title_block %}
<title>HTMLで表示</title>
{% endblock %}
<body>
    {% block body_block %}
    {%csrf_token%}
    {% load markdown_extras %}
    <section class="twocols">
        <div class="cols">
            <div class="one">
                <div class="side">
                    <h2>新着記事</h2>
                </div>
            </div>

            <div class="two">
                <div class="title">
                    {% block title %} 
                        {{ db_view.title }}
                    {% endblock title %} 
                </div>

                <div class="content">
                    {% block body %}
                        {{ db_view.content|markdown|safe }}
                    {% endblock body %}
                </div>
            </div>
        </div>
    </section>
    <button type="button" onclick=location.href="{% url 'muscle_app:mark_list'%}">リストに戻る</button>
    {% if user.user_id == db_view.user_id %}
            <button type="button" onclick=location.href="{% url 'muscle_app:mark_delete' id=article.id %}">削除画面</button><br>
        {% endif %}
    {% endblock %}
</body>