{% extends "muscle_app/base1.html" %}
{% load static %}
{% load widget_tweaks %}
    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'muscle_app/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'muscle_app/markdown.css' %}">
    {% endblock %}

    {% block body_block %}
    <body>
        <form action="{% url 'muscle_app:mark_insert' %}" method="post" >
            {% csrf_token %}
            <!-- <input type="hidden" name="user_name" value="{{ user.username }}"> -->
            {{ form.media }}
            <p class="item">タイトル:{{ form.title }}</p>
            {{ form.content }}
            <p class="item">カテゴリ{{ form.category }}</p>
            <button class="btn-mark" type = "submit">送信</button>
            <button class="btn-back" type="button" onclick=location.href="{% url 'muscle_app:mark_list' %}">戻る</button>
        </form>
    </body>
    {% endblock %}
</html>