{% extends "muscle_app/base.html" %}

{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>記事削除</title>
    </head>
    {% block body_block %}
    <body>
        <form method="post" >{% csrf_token %}
            <p>「{{object.title}}」を削除しますか？</p>
            <p>削除しますと復旧ができません。よろしいですか？</p>
            {% comment %} <button type="submit" >削除する</button> {% endcomment %}

            <button type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
            <button type="button" onclick=location.href="{% url 'muscle_app:mark_list'%}">リストに戻る</button>
            
        </form>
    </body>
    {% endblock %}
</html>