{% comment %} {%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編集確認画面</title>
</head>
<body>
    {%csrf_token%}
    {{article.user_name}}
    {{article.title}} 
    {{article.body}}
    <input type="hidden" value="{{article.id}}" name='id'> 
    <!--<button type="button" onclick=location.href="{% url 'muscle_app:mark_edit' id=article.id%}">編集する</button><br>-->

</body>
</html> {% endcomment %}

{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>チェック画面</title>
</head>
<body>
    <form action="{% url 'muscle_app:mark_edit' %}" method="post" >
    {%csrf_token%}
    {{article.user_name}}
    {{article.title}} 
    {{article.body}}
    <input type="hidden" value="{{article.id}}" name='id'> 
    <p> <input type = "submit" value = "編集画面へ移動する"> </p>
    </form>
</body>
</html>

<!--session用のHTML-->
{% comment %} {% extends "register/base.html" %}
{% block content %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field.value }}
    </div>
    {% endfor %}

    <a href="{% url 'muscle_app:mark_edit' %}" class="btn btn-primary btn-lg">戻る</a>
    <hr>
    <form action="{% url ':user_data_create' %}" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">送信</button>
        {% csrf_token %}
    </form>
{% endblock %} {% endcomment %}