
<!DOCTYPE html>
<html lang="ja">
    {% extends "muscle_app/base.html" %}
    {% load static %}
    
    {% block extra_head %}
        <link rel=""stylesheet" href="{% static '' %}">
    {% endblock %}

    {% block title_block %}
        my_article
    {% endblock %}

    {% block body_block %}
        <h1>マイページ記事一覧</h1>
        <button onclick=location.href="{% url 'muscle_app:mark' %}">新規作成</button>
        {% for article in my_article%}
        <form  method="get">
            {{article.title}} 
            {{article.user_name}}
            {{article.category}}
            <input type="hidden" value="{{article.id}}"> 
            <button type="button" onclick=location.href="{% url 'muscle_app:mark_view' id=article.id %}">HTML画面</button>
            <button type="button" onclick=location.href="{% url 'muscle_app:mark_detail' id=article.id %}">詳細画面</button>
            <button type="button" onclick=location.href="{% url 'muscle_app:mark_delete' id=article.id %}">削除画面</button><br>
        <form>
        {% endfor %}
    {% endblock %}
</html>