<!DOCTYPE html>
<html lang="ja">
  <body>
    <form method="POST" action="{% url 'muscle_app:sign_up' %}">
      {% csrf_token %}
      <label>ユーザーID</label>
      {{ form.user_id }}
      {{ form.user_id.errors }}
      <label>ユーザー名</label>
      {{ form.username }}
      {{ form.username.errors }}
      <label>メールアドレス</label>
      {{ form.email }}
      {{ form.email.errors }}
      <label>パスワード</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
      <label>パスワード(確認)</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
      <button type = "submit">登録</button>
    </form>
  </body>
</html>