<!DOCTYPE html>
<html lang="ja">

{% extends "muscle_app/base1.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'muscle_app/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'muscle_app/sign_up.css' %}">
{% endblock %}

{% block body_block %}
<div class="content">
<h2>新規登録</h2>
<form method="POST" action="{% url 'muscle_app:sign_up' %}">
  {% csrf_token %}
  <label>ユーザーID</label>
  <div class="atto">{{ form.user_id|add_class:"form-id" }}
  <p class="note">※半角英数字、全角英字、アンダースコア(_)のみ入力可能です。</p>
  {{ form.user_id.errors }}
  </div>
  
  <label class="andernote">ユーザー名</label>
  <div>
  {{ form.username|add_class:"form-name" }}
  {{ form.username.errors }}
  </div>
  <label>メールアドレス</label>
  <div>
  {{ form.email|add_class:"form-email" }}
  {{ form.email.errors }}
  </div>
  <label>パスワード</label>
  <div class=""> {{ form.password1|add_class:"form-pass" }}
  <p class="note">※全角英字、数字、記号(-@^#$(){}[]!?*&=)をそれぞれ1文字以上<br>
  8文字以上16文字以内にしてください。</p>
  </div>
  {{ form.password1.errors }}
  <label class="andernote">パスワード(確認)</label>
  {{ form.password2|add_class:"form-pass2" }}
  {{ form.password2.errors }}
  <div class="post">
    <button class = "send" type = "submit">登録</button>
  </div>
</form>
</div>
{% endblock %}

</html>
