/** ココから下はヘッダーのアイコン・検索欄 **/
@media screen and (min-width: 601px){
    header{
        box-sizing: 100%;
        box-shadow: 0 10px 10px -8px #CFCFCF; 
        background-color: #fff;
        margin-top: 0;
    }

    a img {
        width: 153px;
        height: 150px;
        object-fit: cover;
    
    }
    
    a img:hover{
        opacity: 1;
    }

    .top_wrapper{
      display: flex;
      justify-content: space-between;
    }
    
    .login{
      color: #FFF;
      text-decoration: none;
    }

    .serch{
      display: flex;
      align-items: center;
    }
    
    #form1{
      position:relative;
      bottom: 15%;
    }

    #sbox1{	
      border: none;	
      height:50px;
      padding:0 50px;
      position:absolute; 
      left:0;
      top:0; 
      max-width:300px;
      border-radius:2px;
      background:#eee;
    }

    #sbtn1{
      width:70px;
      height:50px;
      position:absolute; 
      left:270px; 
      top:0;
      border-radius:2px;
      background:#7fbfff;
      color:#fff;
      font-weight:bold;
      font-size:16px;
      border:none;
    }

    #sbtn1:hover{
      opacity: 80%;
    }

    .login{
      display: flex;
      align-items: center;
    } 

    *,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;

  padding: 1.4rem 5rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #eb6100;
}

a.btn-flat:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}



    body{
        margin: 0px;
    }

  }
  
  /** ココから下はヘッダーのドロップメニューのcss **/
  
  #globalnavi {
      background-color: #fff;
    }
    
    .dropmenu {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 850px;
      margin-right: auto; 
      margin-left: auto;
      top: 15px;
    }

    .dropmenu h2:hover{
      color: #CE4242;
    }
  
    /** ドロップメニュー元 **/
    .dropmenu a {
      display: block;
      padding: 15px 10px;
      color: rgb(0, 0, 0);
      text-align: center; 
      text-decoration: none;
      font-size: 15px;
      font-weight: 700;
    }
  
    .dropmenu > li {
      list-style: none;
      width: calc(100% / 7);
    }
  
    .dropmenu > li:hover > ul {
      display: flex;
      flex-wrap: wrap;
    }
  
    .dropmenu > li > a {
      background-color:#fdfdfd;
    }
  
    .dropmenu > li > ul {
      position: absolute;
      top: 100%;
      left: 0;
      display: none;
      width: 100%;
    }
  
    /** ドロップメニュー先 **/
    .dropmenu > li > ul > li {
      list-style: none;
      width: calc(100% / 7);
    }
  
    .dropmenu > li > ul > li > a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #000;
      background-color: #fff; 
      /* background-color: #fff;*/

    }
  
    .dropmenu > li > ul > li > a:hover {
      color: #CE4242;
      border-bottom: solid;
      border-color: #000;
      border-width: 4px;
    }
  
    .dropmenu .men > a:hover { background-color: #fff; }
    
    .dropmenu .lay > a:hover { background-color: #fff; }
  
  /** ココからハンバーガーメニューのcss **/
  
  /* .openbtn{
    position: relative;
    background: #FF6868;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  
  .openbtn span{
    display: inline-block;
    transition: all 4s;
    position: absolute;
    right: 14px;
    height: 2px;
    border-radius: 5px;
    background: #fff;
    width: 45%;
  }
  
  .openbtn span:nth-of-type(1){
    top: 13px;
  }
  
  .openbtn span:nth-of-type(2){
    top: 19px;
  }
  
  .openbtn span:nth-of-type(3){
    top: 25%;
  }
  
  .openbtn span:nth-of-type(3)::after{
    content: "Menu";
    position: absolute;
    top:5px;
    left: -2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
  
  .openbtn.active span:nth-of-type(1){
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  
  .openbtn.active span:nth-of-type(2){
    opacity: 0;
  }
  
  .openbtn.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  
  .openbtn.active span:nth-of-type(3)::after{
    content: "Close";
    transform: translateY(0) rotate(-45deg);
    top: 5px;
    left: 4px;
  } */
  
  #g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
  top:0;
    right: -120%;
  width:100%;
    height: 100vh;/*ナビの高さ*/
  background:#999;
    /*動き*/
  transition: all 0.6s;
  }
  
  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive{
    right: 0;
  }
  
  /*ナビゲーションの縦スクロール*/
  #g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  /*ナビゲーション*/
  #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  /*リストのレイアウト設定*/
  
  #g-nav li{
  list-style: none;
    text-align: center;
  }
  
  #g-nav li a{
  color: #333;
  text-decoration: none;
  padding:10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  }
  
  .openbtn{
    position: relative;/*ボタン内側の基点となるためrelativeを指定*/
    background:#FF6868;
    cursor: pointer;
      width: 50px;
      height:50px;
    border-radius: 5px;
  }
  
  /*ボタン内側*/
  .openbtn span{
      display: inline-block;
      transition: all .4s;/*アニメーションの設定*/
      position: absolute;
      left: 14px;
      height: 2px;
      border-radius: 5px;
    background: #fff;
      width: 45%;
    }
  
  
  .openbtn span:nth-of-type(1) {
    top:13px; 
  }
  
  .openbtn span:nth-of-type(2) {
    top:19px;
  }
  
  .openbtn span:nth-of-type(3) {
    top:25px;
  }
  
  .openbtn span:nth-of-type(3)::after {
    content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top:5px;
    left:-2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
  
  /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
  
  .openbtn.active span:nth-of-type(1) {
      top: 14px;
      left: 18px;
      transform: translateY(6px) rotate(-45deg);
      width: 30%;
  }
  
  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  
  .openbtn.active span:nth-of-type(3){
      top: 26px;
      left: 18px;
      transform: translateY(-6px) rotate(45deg);
      width: 30%;
  }
  
  .openbtn.active span:nth-of-type(3)::after {
    content:"Close";/*3つ目の要素のafterにClose表示を指定*/
      transform: translateY(0) rotate(-45deg);
    top:5px;
    left:4px;
  }
  
  
  .openbtn{
    position:fixed;
      z-index: 9999;/*ボタンを最前面に*/
    top:10px;
    right: 10px;
    cursor: pointer;
      width: 50px;
      height:50px;
  }
  
  .openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #ffff;
    width: 45%;
  }
  
  .openbtn span:nth-of-type(1) {
  top:15px; 
  }
  
  .openbtn span:nth-of-type(2) {
  top:23px;
  }
  
  .openbtn span:nth-of-type(3) {
  top:31px;
  }
  
  .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  
  .openbtn.active span:nth-of-type(2) {
  opacity: 0;
  }
  
  .openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }