.sidebar {
    /* width: 96px;
    background-color: rgb(198, 255, 181);
    box-sizing: border-box;
    border: 8px solid rgb(139, 196, 234); */
    width:200px;
    height:500px;
    text-align:center;
    margin: 80px 80px 0px 100px;
    border: solid;
  }

a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

h3{
  margin: 0px;
}

img{
  width: 200px;  
}
