
/*スライダーの画像大きさ、角の調整等*/
.swiper-wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
    height: 300px;
  }

.slide-media
{
    width: 100%;
    overflow: hidden;
    padding-top: 62.5%;
    border-radius: 4px;
}


.slide-media img{
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

/*スライダーのボタン調整*/
.swiper-button-prev, .swiper-button-next{
    display:flex;
    position:absolute;
    top:25%;
    align-items:center;
    justify-items:center;
    width: 6.4rem;
    height: 6.4rem;
    cursor:pointer;
}
